packages:
  yum:
    git: []

sources:
  /home/ec2-user: http://download.redis.io/releases/redis-4.0.9.tar.gz

commands:
  010setup_swap:
    test: test ! -e /var/swapfile
    command: |
      /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
      /bin/chmod 600 /var/swapfile
      /sbin/mkswap /var/swapfile
      /sbin/swapon /var/swapfile

  redis_build:
    test: test ! -e /home/ec2-user/redis-4.0.9/src/redis-server
    command: make
    cwd: /home/ec2-user/redis-4.0.9

  redis_config_001:
    test: test ! -e /var/run/redis.pid
    command: sed -i -e "s/daemonize no/daemonize yes/" redis.conf
    cwd: /home/ec2-user/redis-4.0.9

  redis_config_002:
    test: test ! -e /var/run/redis.pid
    command: sed -i -e "s/# maxmemory<bytes>/maxmemory 500MB/" redis.conf
    cwd: /home/ec2-user/redis-4.0.9

  redis_config_003:
    test: test ! -e /var/run/redis.pid
    command: sed -i -e "s/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/" redis.conf
    cwd: /home/ec2-user/redis-4.0.9

  redis_server:
    test: test ! -e /var/run/redis.pid
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-4.0.9
