files:
  "/tmp/sidekiq_worker.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe

      cd /var/app/current
      echo "Bundle exec sidekiq worker"
      export $(cat /opt/elasticbeanstalk/deployment/env | xargs) && bundle exec sidekiq -e production >/var/log/sidekiq_worker.log 2>&1
